@{
    ViewData["Title"] = "Home Page";
}
<div class="museo-home container mx-auto px-4 py-8">
    <div class="text-center mb-5">
        <h1 class="display-3 fw-bold">Museo di Mineralogia</h1>
    </div>
</div>
<div class="museo-home container mx-auto px-4 py-8">
    <div class="border border-secondary p-5">
        <div class="d-flex justify-content-center mb-4">
            <div class="p-4 text-center" style="width: 1200px;">
                <img src="/img/img1.jpeg" alt="Museo dei Minerali" class="img-fluid" style="max-height: 600px;" />
            </div>
        </div>

        <div class="text-center mb-5">
            <p class="fs-4">
                Il Museo dei Minerali offre un'esperienza unica nel suo genere, con una vasta collezione
                di esemplari provenienti da tutto il mondo. Situato nel cuore della città, il nostro museo
                è dedicato alla conservazione e all'esposizione delle meraviglie mineralogiche del nostro pianeta.
            </p>
        </div>

        <div class="d-flex justify-content-center mb-5">
            <div class="border border-dark p-4" style="max-width: 700px; width: 100%;">
                <div id="carouselMinerali" class="carousel slide" data-bs-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-bs-target="#carouselMinerali" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carouselMinerali" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carouselMinerali" data-bs-slide-to="2"></li>
                        <li data-bs-target="#carouselMinerali" data-bs-slide-to="3"></li>
                        <li data-bs-target="#carouselMinerali" data-bs-slide-to="4"></li>
                    </ol>

                    <div class="carousel-inner rounded">
                        <div class="carousel-item active">
                            <img src="/img/ametist.jpg" alt="Ametista" class="d-block w-100" />
                            <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded p-2">
                                <h5>Ametista</h5>
                                <p>Cristalli di ametista dal Brasile</p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/img/metallic-minerals.jpg" alt="Pirite" class="d-block w-100" />
                            <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded p-2">
                                <h5>Pirite</h5>
                                <p>Formazione cubica di pirite</p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/img/fluorite.jpeg" alt="Fluorite" class="d-block w-100" />
                            <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded p-2">
                                <h5>Fluorite</h5>
                                <p>Cristalli di fluorite colorata</p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/img/silicates.jpg" alt="Silicati" class="d-block w-100" />
                            <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded p-2">
                                <h5>Silicati</h5>
                                <p>Silicati</p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/img/rocks.jpg" alt="Rocce" class="d-block w-100" />
                            <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded p-2">
                                <h5>Rocce</h5>
                                <p>Rocce dal Mondo</p>
                            </div>
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#carouselMinerali" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselMinerali" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="text-center">
            <div class="mx-auto" style="max-width: 800px;">
                <p class="fs-4">
                    La nostra collezione comprende una vasta gamma di minerali, dalle comuni rocce
                    sedimentarie ai rari e preziosi cristalli. <br />Potrete ammirare:
                </p>
                <ul class="list-unstyled">
                    <li class="fs-4">Cristalli di quarzo e ametista di varie dimensioni</li>
                    <li class="fs-4">Minerali fluorescenti che brillano sotto luci speciali</li>
                    <li class="fs-4">Gemme preziose allo stato grezzo e lavorato</li>
                    <li class="fs-4">Meteoriti e tectiti provenienti dallo spazio</li>
                    <li class="fs-4">Fossili mineralizzati di diverse epoche geologiche</li>
                </ul>
                <p class="fs-4">
                    Ogni esemplare è accompagnato da descrizioni dettagliate sulla sua origine,
                    composizione chimica e proprietà.
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#carouselMinerali').carousel({
                interval: 3000,
                wrap: true
            });

            $('#carouselMinerali').carousel('cycle');

            $('#carouselMinerali').on('slide.bs.carousel', function() {
                console.log('Slide changed!');
            });
        });
    </script>
}