@{
    ViewData["Title"] = "Conferma recupero password";
}

<h1>@ViewData["Title"]</h1>
<p>
    Abbiamo inviato un link per reimpostare la password al tuo indirizzo email.
    Controlla la tua casella di posta elettronica.
</p>
