@{
    ViewData["Title"] = "Password dimenticata - Conferma";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-12">
        <p>
            Il link per reimpostare la password è stato inviato all'indirizzo email fornito.
            Controlla la tua casella di posta e segui le istruzioni per completare il processo.
        </p>
    </div>
</div>