@{
    ViewData["Title"] = "Conferma reset password";
}

<h1>@ViewData["Title"]</h1>
<p>
    La tua password è stata reimpostata con successo. Ora puoi
    <a asp-action="Login">accedere</a> con la nuova password.
</p>